.container {
  padding: 1.5rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
.base {
  font-size: 2rem;
  font-weight: 200;
}
.awesome{
  font-size: 15vw;
  font-weight: 800;
  flex: 1;
  padding-top: 1.5rem;
}

@media (min-width: 32rem) {
  .awesome {
    font-size: 5rem;
  }
}
