html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  line-height: 1.5;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  align-items: stretch;
  justify-content: flex-start;
  background: #e0f0ff;
  display: flex;
  flex-direction: column;
}
button {
  font: inherit;
  color: inherit;
  background: inherit;
  border: none;
  padding: 0;
  margin: 0;
  text-align: inherit;
  width: auto;
}
ul, ol {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

:global .no-js #todoContainer {
  opacity: 0.4;
}

:global .description {
  align-self: center;
  padding: 1.5rem 0;
  padding-bottom: 6rem;
  max-width: 30rem;
}
:global .description h1 {
  font-weight: 200;
  padding: 0;
  margin: 0;
  font-size: 3rem;
}
:global .description p {
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.25;
  padding-top: 1.5rem;
}
:global .description pre + p {
  padding-top: 0;
}

@media (min-width: 64rem) {
  body {
    flex-direction: row;
    align-items: flex-start;
  }
  section { flex: 1 }

  :global #todoContainer {
    padding: 1.5rem 0;
    flex: 1;
  }
  :global .description {
    height: 100vh;
  }
}
